body{
    margin: 0;
    padding: 0;
    background: url(../img/IMG_0959.JPG)no-repeat;
    background-size:cover; 


}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box-img{
    border-radius: 10%;
    width: 200px;
    height: 220px;
}


.box h1{
    font-size:40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size:20px;
    letter-spacing: 3px;
    font-weight:100;
}

.box p{
    text-align: justify;
}


.bot{
    background-color: aliceblue;
    position: absolute;
    top:20px;
   left:20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;

}



